## Collecting data from Reddit

At first,I thought I would use the Python Reddit API Wrapper, but the limits imposed by Reddit on crawling are not the most friendly. To collect bulk amounts of data. Instead, I found a data dump of Reddit Comments separated by month as [JSON files](https://files.pushshift.io/reddit/comments/) , then I had to extract comment-reply pairs from the JSON file. for some comments, i found only 1 reply per comment. Even though many single comments might have many replies, so i decided to go with the top-voted one.

In [49]:
# import libaraies
import sqlite3
import json
from datetime import datetime

In [50]:
# gloabel variable
start_row = 0
cleanup = 1000000
timeframe = '2018-06'
sql_transaction = []

In [51]:
# intilaize connection , database for each month
# because it is huge amount of data (more than 20,000,000 recored)
connection = sqlite3.connect('data/{}.db'.format(timeframe))
c = connection.cursor()

In [52]:
# create table for each month
def create_table():
    c.execute("CREATE TABLE IF NOT EXISTS parent_reply(parent_id TEXT PRIMARY KEY, comment_id TEXT UNIQUE, parent TEXT, comment TEXT, subreddit TEXT, unix INT, score INT)")

In [53]:
# clean data
def clean_data(data):
    data = data.replace('\n',' newlinechar ').replace('\r',' newlinechar ').replace('"',"'")
    return data

In [54]:
# return text of given comment id
def get_text(commentid):
    try:
        sql = "SELECT comment FROM parent_reply WHERE comment_id = '{}' LIMIT 1".format(commentid)
        c.execute(sql)
        result = c.fetchone()
        if result != None:
            return result[0]
        else: 
            return False
    except Exception as e:
        return False

In [55]:
# return attached score for parent if exist
def find_existing_score(pid):
    try:
        sql = "SELECT score FROM parent_reply WHERE parent_id = '{}' LIMIT 1".format(pid)
        c.execute(sql)
        result = c.fetchone()
        if result != None:
            return result[0]
        else: 
            return False
    except Exception as e:
        return False

In [56]:
# check comment length and if the text is deleted
def acceptable(data):
    if len(data.split(' ')) > 1000 or len(data) < 1:
        return False
    elif len(data) > 32000:
        return False
    elif data == '[deleted]':
        return False
    elif data == '[removed]':
        return False
    else:
        return True

In [57]:
# Start database connection the excute transactions
def transaction_bldr(sql):
    global sql_transaction
    sql_transaction.append(sql)
    if len(sql_transaction) > 1000:
        c.execute('BEGIN TRANSACTION')
        for s in sql_transaction:
            try:
                c.execute(s)
            except:
                pass
        connection.commit()
        sql_transaction = []

In [58]:
# insert new comment or update in the database
def sql_insert_comment(trans_type, commentid, parentid, parent, comment, subreddit, time, score):
    '''
    *args:
        trans_type:
                    1: update
                    2: insert
    '''
    try:
        if trans_type == 1: # update
            sql = """UPDATE parent_reply SET parent_id = ?, comment_id = ?, parent = ?, comment = ?, subreddit = ?, unix = ?, score = ? WHERE parent_id =?;""".format(parentid, commentid, parent, comment, subreddit, int(time), score, parentid)
        else: # insert
            sql = """INSERT INTO parent_reply (parent_id, comment_id, parent, comment, subreddit, unix, score) VALUES ("{}","{}","{}","{}","{}",{},{});""".format(parentid, commentid, parent, comment, subreddit, int(time), score) 
        transaction_bldr(sql)
    except Exception as e:
        print('s0 insertion',str(e))

In [59]:
if __name__ == '__main__':
    create_table()
    # normal row counter
    row_counter = 0
    # counter for comments with replaies (complete pair)
    paired_rows = 0


    with open('data/RC_{}'.format(timeframe), buffering=1000) as f:
        for row in f:
            row_counter += 1

            if row_counter > start_row:
                try:
                    # read dict
                    row = json.loads(row)
                    # fetch needed info
                    parent_id = row['parent_id'].split('_')[1]
                    body = clean_data(row['body'])
                    created_utc = row['created_utc']
                    score = row['score']
                    comment_id = row['id']
                    subreddit = row['subreddit']
                    
                    # trying to find data of this comment's parent
                    parent_data = get_text(parent_id)
                    
                    # insert only valid body length
                    if acceptable(body):
                        # check if already exist a pair (parent,replay)
                        existing_comment_score = find_existing_score(parent_id)
                        
                        if existing_comment_score:
                            # current comment is better
                            if score > existing_comment_score:
                                # update this row
                                sql_insert_comment(1, comment_id,parent_id,parent_data,body,subreddit,created_utc,score)
                        # new comment (row)
                        elif parent_data:
                            if score >= 2:
                                # inset new row
                                sql_insert_comment(2, comment_id,parent_id,parent_data,body,subreddit,created_utc,score)
                                paired_rows += 1
                        else:
                            sql_insert_comment(2, comment_id,parent_id,None,body,subreddit,created_utc,score)
                except Exception as e:
                    print(str(e))
                            
            if row_counter % 100000 == 0:
                print('Total Rows Read: {}, Paired Rows: {}, Time: {}'.format(row_counter, paired_rows, str(datetime.now())))
                #break # should remove it to parse whole file
                
            if row_counter > start_row:
                if row_counter % cleanup == 0:
                    print("Cleanin up!")
                    sql = "DELETE FROM parent_reply WHERE parent IS NULL"
                    c.execute(sql)
                    connection.commit()
                    c.execute("VACUUM")
                    connection.commit()

Total Rows Read: 100000, Paired Rows: 5940, Time: 2018-10-03 00:37:53.171778
Total Rows Read: 200000, Paired Rows: 14262, Time: 2018-10-03 00:38:07.726624
Total Rows Read: 300000, Paired Rows: 22539, Time: 2018-10-03 00:38:21.945287
Total Rows Read: 400000, Paired Rows: 30792, Time: 2018-10-03 00:38:35.866404
Total Rows Read: 500000, Paired Rows: 39295, Time: 2018-10-03 00:38:49.621815
Total Rows Read: 600000, Paired Rows: 46713, Time: 2018-10-03 00:39:02.687643
Total Rows Read: 700000, Paired Rows: 54537, Time: 2018-10-03 00:39:16.112981
Total Rows Read: 800000, Paired Rows: 63647, Time: 2018-10-03 00:39:30.244702
Total Rows Read: 900000, Paired Rows: 73143, Time: 2018-10-03 00:39:45.036768
Total Rows Read: 1000000, Paired Rows: 82662, Time: 2018-10-03 00:39:59.558898
Cleanin up!
Total Rows Read: 1100000, Paired Rows: 92146, Time: 2018-10-03 00:40:16.129319
Total Rows Read: 1200000, Paired Rows: 101599, Time: 2018-10-03 00:40:29.409104
Total Rows Read: 1300000, Paired Rows: 111580, Time: 2018-10-03 00:40:42.661894
Total Rows Read: 1400000, Paired Rows: 121283, Time: 2018-10-03 00:40:55.495650
Total Rows Read: 1500000, Paired Rows: 131308, Time: 2018-10-03 00:41:07.783796
Total Rows Read: 1600000, Paired Rows: 141757, Time: 2018-10-03 00:41:20.199652
Total Rows Read: 1700000, Paired Rows: 152604, Time: 2018-10-03 00:41:33.218703
Total Rows Read: 1800000, Paired Rows: 163614, Time: 2018-10-03 00:41:46.230287
Total Rows Read: 1900000, Paired Rows: 174623, Time: 2018-10-03 00:41:59.312350
Total Rows Read: 2000000, Paired Rows: 185519, Time: 2018-10-03 00:42:12.287542
Cleanin up!
Total Rows Read: 2100000, Paired Rows: 196496, Time: 2018-10-03 00:42:29.763041
Total Rows Read: 2200000, Paired Rows: 207427, Time: 2018-10-03 00:42:42.617769
Total Rows Read: 2300000, Paired Rows: 218404, Time: 2018-10-03 00:42:55.490888
Total Rows Read: 2400000, Paired Rows: 229505, Time: 2018-10-03 00:43:08.376457
Total Rows Read: 2500000, Paired Rows: 240574, Time: 2018-10-03 00:43:21.330610
Total Rows Read: 2600000, Paired Rows: 251929, Time: 2018-10-03 00:43:34.435346
Total Rows Read: 2700000, Paired Rows: 263269, Time: 2018-10-03 00:43:47.785499
Total Rows Read: 2800000, Paired Rows: 274731, Time: 2018-10-03 00:44:01.190827
Total Rows Read: 2900000, Paired Rows: 285812, Time: 2018-10-03 00:44:14.722099
Total Rows Read: 3000000, Paired Rows: 296661, Time: 2018-10-03 00:44:28.332756
Cleanin up!
Total Rows Read: 3100000, Paired Rows: 307557, Time: 2018-10-03 00:44:48.492739
Total Rows Read: 3200000, Paired Rows: 318648, Time: 2018-10-03 00:45:02.511336
Total Rows Read: 3300000, Paired Rows: 329878, Time: 2018-10-03 00:45:16.499494
Total Rows Read: 3400000, Paired Rows: 340602, Time: 2018-10-03 00:45:29.939131
Total Rows Read: 3500000, Paired Rows: 350942, Time: 2018-10-03 00:45:43.236828
Total Rows Read: 3600000, Paired Rows: 361456, Time: 2018-10-03 00:45:56.570485
Total Rows Read: 3700000, Paired Rows: 371694, Time: 2018-10-03 00:46:10.018624
Total Rows Read: 3800000, Paired Rows: 381840, Time: 2018-10-03 00:46:23.376270
Total Rows Read: 3900000, Paired Rows: 391929, Time: 2018-10-03 00:46:36.763538
Total Rows Read: 4000000, Paired Rows: 402159, Time: 2018-10-03 00:46:50.217267
Cleanin up!
Total Rows Read: 4100000, Paired Rows: 412476, Time: 2018-10-03 00:47:12.905058
Total Rows Read: 4200000, Paired Rows: 422400, Time: 2018-10-03 00:47:25.896640
Total Rows Read: 4300000, Paired Rows: 432374, Time: 2018-10-03 00:47:39.115517
Total Rows Read: 4400000, Paired Rows: 441911, Time: 2018-10-03 00:47:52.391552
Total Rows Read: 4500000, Paired Rows: 451553, Time: 2018-10-03 00:48:05.858965
Total Rows Read: 4600000, Paired Rows: 461054, Time: 2018-10-03 00:48:19.004562
Total Rows Read: 4700000, Paired Rows: 470600, Time: 2018-10-03 00:48:32.144845
Total Rows Read: 4800000, Paired Rows: 480565, Time: 2018-10-03 00:48:45.374541
Total Rows Read: 4900000, Paired Rows: 490821, Time: 2018-10-03 00:48:58.157048
Total Rows Read: 5000000, Paired Rows: 501481, Time: 2018-10-03 00:49:11.059154
Cleanin up!
Total Rows Read: 5100000, Paired Rows: 512262, Time: 2018-10-03 00:49:36.138522
Total Rows Read: 5200000, Paired Rows: 523090, Time: 2018-10-03 00:49:49.900301
Total Rows Read: 5300000, Paired Rows: 533948, Time: 2018-10-03 00:50:02.948192
Total Rows Read: 5400000, Paired Rows: 544895, Time: 2018-10-03 00:50:16.158597
Total Rows Read: 5500000, Paired Rows: 555877, Time: 2018-10-03 00:50:29.812954
Total Rows Read: 5600000, Paired Rows: 566896, Time: 2018-10-03 00:50:43.091444
Total Rows Read: 5700000, Paired Rows: 578088, Time: 2018-10-03 00:50:56.460871
Total Rows Read: 5800000, Paired Rows: 588976, Time: 2018-10-03 00:51:09.797201
Total Rows Read: 5900000, Paired Rows: 600006, Time: 2018-10-03 00:51:23.060686
Total Rows Read: 6000000, Paired Rows: 610681, Time: 2018-10-03 00:51:36.357884
Cleanin up!
Total Rows Read: 6100000, Paired Rows: 621658, Time: 2018-10-03 00:52:03.393412
Total Rows Read: 6200000, Paired Rows: 632174, Time: 2018-10-03 00:52:16.312771
Total Rows Read: 6300000, Paired Rows: 642935, Time: 2018-10-03 00:52:29.349244
Total Rows Read: 6400000, Paired Rows: 653444, Time: 2018-10-03 00:52:42.337386
Total Rows Read: 6500000, Paired Rows: 663657, Time: 2018-10-03 00:52:55.146255
Total Rows Read: 6600000, Paired Rows: 674000, Time: 2018-10-03 00:53:08.068839
Total Rows Read: 6700000, Paired Rows: 684285, Time: 2018-10-03 00:53:20.900854
Total Rows Read: 6800000, Paired Rows: 694472, Time: 2018-10-03 00:53:33.734900
Total Rows Read: 6900000, Paired Rows: 704607, Time: 2018-10-03 00:53:46.512921
Total Rows Read: 7000000, Paired Rows: 714987, Time: 2018-10-03 00:53:59.278349
Cleanin up!
Total Rows Read: 7100000, Paired Rows: 725028, Time: 2018-10-03 00:54:27.730476
Total Rows Read: 7200000, Paired Rows: 735125, Time: 2018-10-03 00:54:40.529684
Total Rows Read: 7300000, Paired Rows: 745004, Time: 2018-10-03 00:54:53.327126
Total Rows Read: 7400000, Paired Rows: 754384, Time: 2018-10-03 00:55:06.984183
Total Rows Read: 7500000, Paired Rows: 764019, Time: 2018-10-03 00:55:19.686004
Total Rows Read: 7600000, Paired Rows: 773655, Time: 2018-10-03 00:55:32.295683
Total Rows Read: 7700000, Paired Rows: 783727, Time: 2018-10-03 00:55:45.289234
Total Rows Read: 7800000, Paired Rows: 794017, Time: 2018-10-03 00:55:58.237295
Total Rows Read: 7900000, Paired Rows: 804661, Time: 2018-10-03 00:56:11.182453
Total Rows Read: 8000000, Paired Rows: 815177, Time: 2018-10-03 00:56:24.084693
Cleanin up!
Total Rows Read: 8100000, Paired Rows: 825742, Time: 2018-10-03 00:56:54.533197
Total Rows Read: 8200000, Paired Rows: 836703, Time: 2018-10-03 00:57:07.632338
Total Rows Read: 8300000, Paired Rows: 847493, Time: 2018-10-03 00:57:20.569175
Total Rows Read: 8400000, Paired Rows: 858447, Time: 2018-10-03 00:57:33.524900
Total Rows Read: 8500000, Paired Rows: 869319, Time: 2018-10-03 00:57:46.381605
Total Rows Read: 8600000, Paired Rows: 880349, Time: 2018-10-03 00:57:59.312022
Total Rows Read: 8700000, Paired Rows: 891244, Time: 2018-10-03 00:58:12.240510
Total Rows Read: 8800000, Paired Rows: 902008, Time: 2018-10-03 00:58:25.685037
Total Rows Read: 8900000, Paired Rows: 912824, Time: 2018-10-03 00:58:38.693834
Total Rows Read: 9000000, Paired Rows: 923648, Time: 2018-10-03 00:58:51.762918
Cleanin up!
Total Rows Read: 9100000, Paired Rows: 934298, Time: 2018-10-03 00:59:25.041917
Total Rows Read: 9200000, Paired Rows: 944625, Time: 2018-10-03 00:59:37.985810
Total Rows Read: 9300000, Paired Rows: 955362, Time: 2018-10-03 00:59:50.649994
Total Rows Read: 9400000, Paired Rows: 965171, Time: 2018-10-03 01:00:03.362729
Total Rows Read: 9500000, Paired Rows: 974714, Time: 2018-10-03 01:00:15.733225
Total Rows Read: 9600000, Paired Rows: 984316, Time: 2018-10-03 01:00:35.931481
Total Rows Read: 9700000, Paired Rows: 993498, Time: 2018-10-03 01:01:06.624202
Total Rows Read: 9800000, Paired Rows: 1003626, Time: 2018-10-03 01:01:42.836936
Total Rows Read: 9900000, Paired Rows: 1014220, Time: 2018-10-03 01:02:20.447671
Total Rows Read: 10000000, Paired Rows: 1024721, Time: 2018-10-03 01:02:47.484499
Cleanin up!
Total Rows Read: 10100000, Paired Rows: 1035002, Time: 2018-10-03 01:03:30.842933
Total Rows Read: 10200000, Paired Rows: 1045060, Time: 2018-10-03 01:03:44.123582

Total Rows Read: 10300000, Paired Rows: 1054909, Time: 2018-10-03 01:03:57.757080
Total Rows Read: 10400000, Paired Rows: 1064804, Time: 2018-10-03 01:04:11.152173
Total Rows Read: 10500000, Paired Rows: 1074858, Time: 2018-10-03 01:04:24.481328
Total Rows Read: 10600000, Paired Rows: 1085027, Time: 2018-10-03 01:04:37.479376
Total Rows Read: 10700000, Paired Rows: 1095722, Time: 2018-10-03 01:04:50.138318
Total Rows Read: 10800000, Paired Rows: 1106304, Time: 2018-10-03 01:05:03.238303
Total Rows Read: 10900000, Paired Rows: 1117214, Time: 2018-10-03 01:05:16.283651
Total Rows Read: 11000000, Paired Rows: 1128238, Time: 2018-10-03 01:05:29.376822
Cleanin up!
Total Rows Read: 11100000, Paired Rows: 1139351, Time: 2018-10-03 01:06:07.014208
Total Rows Read: 11200000, Paired Rows: 1150385, Time: 2018-10-03 01:06:20.195586
Total Rows Read: 11300000, Paired Rows: 1161539, Time: 2018-10-03 01:06:33.271625
Total Rows Read: 11400000, Paired Rows: 1172796, Time: 2018-10-03 01:06:46.519573
Total Rows Read: 11500000, Paired Rows: 1183952, Time: 2018-10-03 01:06:59.529689
Total Rows Read: 11600000, Paired Rows: 1195225, Time: 2018-10-03 01:07:12.597692
Total Rows Read: 11700000, Paired Rows: 1206351, Time: 2018-10-03 01:07:25.615990
Total Rows Read: 11800000, Paired Rows: 1217704, Time: 2018-10-03 01:07:38.655914
Total Rows Read: 11900000, Paired Rows: 1228888, Time: 2018-10-03 01:07:51.633489
Total Rows Read: 12000000, Paired Rows: 1240299, Time: 2018-10-03 01:08:04.736253
Cleanin up!
Total Rows Read: 12100000, Paired Rows: 1251756, Time: 2018-10-03 01:08:44.105327
Total Rows Read: 12200000, Paired Rows: 1263156, Time: 2018-10-03 01:08:57.350549
Total Rows Read: 12300000, Paired Rows: 1274469, Time: 2018-10-03 01:09:10.489251
Total Rows Read: 12400000, Paired Rows: 1285318, Time: 2018-10-03 01:09:23.609506
Total Rows Read: 12500000, Paired Rows: 1295931, Time: 2018-10-03 01:09:36.714086
Total Rows Read: 12600000, Paired Rows: 1306684, Time: 2018-10-03 01:09:49.792531
Total Rows Read: 12700000, Paired Rows: 1317242, Time: 2018-10-03 01:10:02.824097
Total Rows Read: 12800000, Paired Rows: 1327224, Time: 2018-10-03 01:10:15.629896
Total Rows Read: 12900000, Paired Rows: 1337021, Time: 2018-10-03 01:10:28.507238
Total Rows Read: 13000000, Paired Rows: 1347021, Time: 2018-10-03 01:10:41.470033
Cleanin up!
Total Rows Read: 13100000, Paired Rows: 1357203, Time: 2018-10-03 01:11:22.752624
Total Rows Read: 13200000, Paired Rows: 1366960, Time: 2018-10-03 01:11:35.627208
Total Rows Read: 13300000, Paired Rows: 1377211, Time: 2018-10-03 01:11:48.745919
Total Rows Read: 13400000, Paired Rows: 1387396, Time: 2018-10-03 01:12:01.823070
Total Rows Read: 13500000, Paired Rows: 1397294, Time: 2018-10-03 01:12:14.922740
Total Rows Read: 13600000, Paired Rows: 1407386, Time: 2018-10-03 01:12:28.014781
Total Rows Read: 13700000, Paired Rows: 1417090, Time: 2018-10-03 01:12:41.115749
Total Rows Read: 13800000, Paired Rows: 1426714, Time: 2018-10-03 01:12:54.195909
Total Rows Read: 13900000, Paired Rows: 1436653, Time: 2018-10-03 01:13:07.340712
Total Rows Read: 14000000, Paired Rows: 1446883, Time: 2018-10-03 01:13:21.106536
Cleanin up!
Total Rows Read: 14100000, Paired Rows: 1457295, Time: 2018-10-03 01:14:06.206931
Total Rows Read: 14200000, Paired Rows: 1467905, Time: 2018-10-03 01:14:19.688173
Total Rows Read: 14300000, Paired Rows: 1478595, Time: 2018-10-03 01:14:32.649335
Total Rows Read: 14400000, Paired Rows: 1489351, Time: 2018-10-03 01:14:45.707433
Total Rows Read: 14500000, Paired Rows: 1500529, Time: 2018-10-03 01:14:59.171434
Total Rows Read: 14600000, Paired Rows: 1511652, Time: 2018-10-03 01:15:12.621340
Total Rows Read: 14700000, Paired Rows: 1522801, Time: 2018-10-03 01:15:25.677756
Total Rows Read: 14800000, Paired Rows: 1534131, Time: 2018-10-03 01:15:38.557125
Total Rows Read: 14900000, Paired Rows: 1545447, Time: 2018-10-03 01:15:51.666423
Total Rows Read: 15000000, Paired Rows: 1556733, Time: 2018-10-03 01:16:04.478467
Cleanin up!
Total Rows Read: 15100000, Paired Rows: 1568129, Time: 2018-10-03 01:16:49.055802
Total Rows Read: 15200000, Paired Rows: 1579500, Time: 2018-10-03 01:17:02.063106
Total Rows Read: 15300000, Paired Rows: 1590787, Time: 2018-10-03 01:17:15.218263
Total Rows Read: 15400000, Paired Rows: 1601907, Time: 2018-10-03 01:17:28.169098
Total Rows Read: 15500000, Paired Rows: 1613121, Time: 2018-10-03 01:17:40.985797
Total Rows Read: 15600000, Paired Rows: 1624412, Time: 2018-10-03 01:17:53.293544
Total Rows Read: 15700000, Paired Rows: 1635479, Time: 2018-10-03 01:18:05.735898
Total Rows Read: 15800000, Paired Rows: 1646763, Time: 2018-10-03 01:18:18.203119
Total Rows Read: 15900000, Paired Rows: 1657885, Time: 2018-10-03 01:18:30.709085
Total Rows Read: 16000000, Paired Rows: 1668372, Time: 2018-10-03 01:18:43.199350
Cleanin up!
Total Rows Read: 16100000, Paired Rows: 1679003, Time: 2018-10-03 01:19:29.456571
Total Rows Read: 16200000, Paired Rows: 1689674, Time: 2018-10-03 01:19:41.985600
Total Rows Read: 16300000, Paired Rows: 1700050, Time: 2018-10-03 01:19:54.456379
Total Rows Read: 16400000, Paired Rows: 1710346, Time: 2018-10-03 01:20:06.976324
Total Rows Read: 16500000, Paired Rows: 1720456, Time: 2018-10-03 01:20:19.441261
Total Rows Read: 16600000, Paired Rows: 1730716, Time: 2018-10-03 01:20:31.858825
Total Rows Read: 16700000, Paired Rows: 1741147, Time: 2018-10-03 01:20:44.328861
Total Rows Read: 16800000, Paired Rows: 1751447, Time: 2018-10-03 01:20:56.825577
Total Rows Read: 16900000, Paired Rows: 1761720, Time: 2018-10-03 01:21:09.362625
Total Rows Read: 17000000, Paired Rows: 1771668, Time: 2018-10-03 01:21:21.824183
Cleanin up!
Total Rows Read: 17100000, Paired Rows: 1781688, Time: 2018-10-03 01:22:48.799828
Total Rows Read: 17200000, Paired Rows: 1791567, Time: 2018-10-03 01:23:00.930989
Total Rows Read: 17300000, Paired Rows: 1801381, Time: 2018-10-03 01:23:13.011862
Total Rows Read: 17400000, Paired Rows: 1811105, Time: 2018-10-03 01:26:04.360891
Total Rows Read: 17500000, Paired Rows: 1820937, Time: 2018-10-03 01:26:17.653739
Total Rows Read: 17600000, Paired Rows: 1831094, Time: 2018-10-03 01:26:30.753904
Total Rows Read: 17700000, Paired Rows: 1841714, Time: 2018-10-03 01:26:43.772952
Total Rows Read: 17800000, Paired Rows: 1852396, Time: 2018-10-03 01:26:56.517033
Total Rows Read: 17900000, Paired Rows: 1863225, Time: 2018-10-03 01:27:09.994209
Total Rows Read: 18000000, Paired Rows: 1874361, Time: 2018-10-03 01:27:23.406968
Cleanin up!
Total Rows Read: 18100000, Paired Rows: 1885306, Time: 2018-10-03 01:28:18.405703
Total Rows Read: 18200000, Paired Rows: 1896698, Time: 2018-10-03 01:28:31.479663
Total Rows Read: 18300000, Paired Rows: 1908152, Time: 2018-10-03 01:28:44.336076
Total Rows Read: 18400000, Paired Rows: 1919413, Time: 2018-10-03 01:28:57.303712
Total Rows Read: 18500000, Paired Rows: 1930568, Time: 2018-10-03 01:29:10.309348
Total Rows Read: 18600000, Paired Rows: 1941770, Time: 2018-10-03 01:29:23.203173
Total Rows Read: 18700000, Paired Rows: 1953088, Time: 2018-10-03 01:29:35.960293
Total Rows Read: 18800000, Paired Rows: 1964438, Time: 2018-10-03 01:29:48.568975
Total Rows Read: 18900000, Paired Rows: 1975701, Time: 2018-10-03 01:30:01.168183
Total Rows Read: 19000000, Paired Rows: 1987098, Time: 2018-10-03 01:30:13.831320
Cleanin up!
Total Rows Read: 19100000, Paired Rows: 1998461, Time: 2018-10-03 01:31:06.943574
Total Rows Read: 19200000, Paired Rows: 2009757, Time: 2018-10-03 01:31:19.694489
Total Rows Read: 19300000, Paired Rows: 2020893, Time: 2018-10-03 01:31:32.399936
Total Rows Read: 19400000, Paired Rows: 2031870, Time: 2018-10-03 01:31:45.229651
Total Rows Read: 19500000, Paired Rows: 2042946, Time: 2018-10-03 01:31:58.200362
Total Rows Read: 19600000, Paired Rows: 2053720, Time: 2018-10-03 01:32:10.863227
Total Rows Read: 19700000, Paired Rows: 2064083, Time: 2018-10-03 01:32:23.533273
Total Rows Read: 19800000, Paired Rows: 2074532, Time: 2018-10-03 01:32:36.102019
Total Rows Read: 19900000, Paired Rows: 2084755, Time: 2018-10-03 01:32:48.677242
Total Rows Read: 20000000, Paired Rows: 2094080, Time: 2018-10-03 01:33:01.082040
Cleanin up!
Total Rows Read: 20100000, Paired Rows: 2103642, Time: 2018-10-03 01:33:56.393472

Total Rows Read: 20200000, Paired Rows: 2113072, Time: 2018-10-03 01:34:08.511248
Total Rows Read: 20300000, Paired Rows: 2121933, Time: 2018-10-03 01:34:20.213323
Total Rows Read: 20400000, Paired Rows: 2131963, Time: 2018-10-03 01:34:32.747373
Total Rows Read: 20500000, Paired Rows: 2142240, Time: 2018-10-03 01:34:45.409359
Total Rows Read: 20600000, Paired Rows: 2152278, Time: 2018-10-03 01:34:58.157202
Total Rows Read: 20700000, Paired Rows: 2162136, Time: 2018-10-03 01:35:10.900698
Total Rows Read: 20800000, Paired Rows: 2172111, Time: 2018-10-03 01:35:23.676651
Total Rows Read: 20900000, Paired Rows: 2181844, Time: 2018-10-03 01:35:36.527251
Total Rows Read: 21000000, Paired Rows: 2191878, Time: 2018-10-03 01:35:49.235037
Cleanin up!
Total Rows Read: 21100000, Paired Rows: 2202050, Time: 2018-10-03 01:36:48.015164
Total Rows Read: 21200000, Paired Rows: 2212710, Time: 2018-10-03 01:37:00.609242
Total Rows Read: 21300000, Paired Rows: 2223647, Time: 2018-10-03 01:37:13.275885
Total Rows Read: 21400000, Paired Rows: 2234779, Time: 2018-10-03 01:37:25.995661
Total Rows Read: 21500000, Paired Rows: 2246035, Time: 2018-10-03 01:37:38.644653
Total Rows Read: 21600000, Paired Rows: 2256960, Time: 2018-10-03 01:37:51.187525
Total Rows Read: 21700000, Paired Rows: 2268007, Time: 2018-10-03 01:38:03.866634
Total Rows Read: 21800000, Paired Rows: 2279256, Time: 2018-10-03 01:38:16.470003
Total Rows Read: 21900000, Paired Rows: 2290395, Time: 2018-10-03 01:38:29.083687
Total Rows Read: 22000000, Paired Rows: 2301551, Time: 2018-10-03 01:38:41.835145
Cleanin up!
Total Rows Read: 22100000, Paired Rows: 2313019, Time: 2018-10-03 01:39:42.356503
Total Rows Read: 22200000, Paired Rows: 2324313, Time: 2018-10-03 01:39:54.764872
Total Rows Read: 22300000, Paired Rows: 2335517, Time: 2018-10-03 01:40:07.504278
Total Rows Read: 22400000, Paired Rows: 2346593, Time: 2018-10-03 01:40:20.047346
Total Rows Read: 22500000, Paired Rows: 2357876, Time: 2018-10-03 01:40:32.143957
Total Rows Read: 22600000, Paired Rows: 2369081, Time: 2018-10-03 01:44:26.661400
Total Rows Read: 22700000, Paired Rows: 2380090, Time: 2018-10-03 01:44:38.728651
Total Rows Read: 22800000, Paired Rows: 2391514, Time: 2018-10-03 01:44:50.868535
Total Rows Read: 22900000, Paired Rows: 2402845, Time: 2018-10-03 01:45:03.049798
Total Rows Read: 23000000, Paired Rows: 2413775, Time: 2018-10-03 02:21:01.262671
Cleanin up!
Total Rows Read: 23100000, Paired Rows: 2424546, Time: 2018-10-03 02:22:05.395887
Total Rows Read: 23200000, Paired Rows: 2435139, Time: 2018-10-03 02:22:18.280174
Total Rows Read: 23300000, Paired Rows: 2445723, Time: 2018-10-03 02:22:31.099212
Total Rows Read: 23400000, Paired Rows: 2455883, Time: 2018-10-03 02:22:43.718627
Total Rows Read: 23500000, Paired Rows: 2465912, Time: 2018-10-03 02:22:56.420549
Total Rows Read: 23600000, Paired Rows: 2475799, Time: 2018-10-03 02:23:08.976568
Total Rows Read: 23700000, Paired Rows: 2485908, Time: 2018-10-03 02:23:21.671986
Total Rows Read: 23800000, Paired Rows: 2495264, Time: 2018-10-03 02:23:34.156619
Total Rows Read: 23900000, Paired Rows: 2505304, Time: 2018-10-03 02:23:46.763776
Total Rows Read: 24000000, Paired Rows: 2515172, Time: 2018-10-03 02:23:59.422961
Cleanin up!
Total Rows Read: 24100000, Paired Rows: 2525132, Time: 2018-10-03 02:25:05.942578
Total Rows Read: 24200000, Paired Rows: 2534599, Time: 2018-10-03 02:25:18.648288
Total Rows Read: 24300000, Paired Rows: 2544176, Time: 2018-10-03 02:25:31.496637
Total Rows Read: 24400000, Paired Rows: 2553802, Time: 2018-10-03 02:25:44.330217
Total Rows Read: 24500000, Paired Rows: 2563780, Time: 2018-10-03 02:25:57.397736
Total Rows Read: 24600000, Paired Rows: 2573714, Time: 2018-10-03 02:26:10.100792
Total Rows Read: 24700000, Paired Rows: 2583606, Time: 2018-10-03 02:26:23.036872
Total Rows Read: 24800000, Paired Rows: 2593896, Time: 2018-10-03 02:26:35.336725
Total Rows Read: 24900000, Paired Rows: 2604490, Time: 2018-10-03 02:26:47.734581
Total Rows Read: 25000000, Paired Rows: 2615061, Time: 2018-10-03 02:27:00.289229
Cleanin up!
Total Rows Read: 25100000, Paired Rows: 2625738, Time: 2018-10-03 02:28:08.000242
Total Rows Read: 25200000, Paired Rows: 2636670, Time: 2018-10-03 02:28:20.658930
Total Rows Read: 25300000, Paired Rows: 2647766, Time: 2018-10-03 02:28:33.208691
Total Rows Read: 25400000, Paired Rows: 2658853, Time: 2018-10-03 02:28:45.755113
Total Rows Read: 25500000, Paired Rows: 2670001, Time: 2018-10-03 02:28:58.359367
Total Rows Read: 25600000, Paired Rows: 2681045, Time: 2018-10-03 02:29:10.926349
Total Rows Read: 25700000, Paired Rows: 2692031, Time: 2018-10-03 02:29:23.557376
Total Rows Read: 25800000, Paired Rows: 2703002, Time: 2018-10-03 02:29:36.105657
Total Rows Read: 25900000, Paired Rows: 2714214, Time: 2018-10-03 02:29:48.730550
Total Rows Read: 26000000, Paired Rows: 2725566, Time: 2018-10-03 02:30:01.321790
Cleanin up!
Total Rows Read: 26100000, Paired Rows: 2736962, Time: 2018-10-03 02:31:15.732353
Total Rows Read: 26200000, Paired Rows: 2748338, Time: 2018-10-03 02:31:28.478523
Total Rows Read: 26300000, Paired Rows: 2759624, Time: 2018-10-03 02:31:41.063963
Total Rows Read: 26400000, Paired Rows: 2770396, Time: 2018-10-03 02:31:53.362813
Total Rows Read: 26500000, Paired Rows: 2781343, Time: 2018-10-03 03:06:46.758247
Total Rows Read: 26600000, Paired Rows: 2792103, Time: 2018-10-03 03:06:59.560368
Total Rows Read: 26700000, Paired Rows: 2802817, Time: 2018-10-03 03:07:13.100444
Total Rows Read: 26800000, Paired Rows: 2813197, Time: 2018-10-03 03:07:26.947634
Total Rows Read: 26900000, Paired Rows: 2823496, Time: 2018-10-03 03:46:51.823392
Total Rows Read: 27000000, Paired Rows: 2833656, Time: 2018-10-03 03:47:13.620843
Cleanin up!
Total Rows Read: 27100000, Paired Rows: 2843301, Time: 2018-10-03 04:24:31.994492
Total Rows Read: 27200000, Paired Rows: 2853003, Time: 2018-10-03 04:24:44.445147
Total Rows Read: 27300000, Paired Rows: 2861934, Time: 2018-10-03 04:24:57.272860
Total Rows Read: 27400000, Paired Rows: 2871476, Time: 2018-10-03 06:25:09.963982
Total Rows Read: 27500000, Paired Rows: 2881722, Time: 2018-10-03 06:25:30.024148
Total Rows Read: 27600000, Paired Rows: 2891791, Time: 2018-10-03 06:25:43.334215
Total Rows Read: 27700000, Paired Rows: 2901432, Time: 2018-10-03 07:08:49.902066
Total Rows Read: 27800000, Paired Rows: 2910638, Time: 2018-10-03 07:09:09.970477
Total Rows Read: 27900000, Paired Rows: 2919725, Time: 2018-10-03 07:09:23.319522
Total Rows Read: 28000000, Paired Rows: 2928789, Time: 2018-10-03 07:09:37.637938
Cleanin up!
Total Rows Read: 28100000, Paired Rows: 2938243, Time: 2018-10-03 07:59:53.390617
Total Rows Read: 28200000, Paired Rows: 2948541, Time: 2018-10-03 08:00:06.646638
Total Rows Read: 28300000, Paired Rows: 2959021, Time: 2018-10-03 08:00:19.750318
Total Rows Read: 28400000, Paired Rows: 2969508, Time: 2018-10-03 08:00:33.176380
Total Rows Read: 28500000, Paired Rows: 2980277, Time: 2018-10-03 08:00:46.346933
Total Rows Read: 28600000, Paired Rows: 2990886, Time: 2018-10-03 08:00:59.141057
Total Rows Read: 28700000, Paired Rows: 3001742, Time: 2018-10-03 08:01:12.002472
Total Rows Read: 28800000, Paired Rows: 3012480, Time: 2018-10-03 08:01:24.780851
Total Rows Read: 28900000, Paired Rows: 3023400, Time: 2018-10-03 08:01:37.576200
Total Rows Read: 29000000, Paired Rows: 3033736, Time: 2018-10-03 08:01:50.262908
Cleanin up!
Total Rows Read: 29100000, Paired Rows: 3044229, Time: 2018-10-03 08:03:10.094209
Total Rows Read: 29200000, Paired Rows: 3054965, Time: 2018-10-03 08:21:11.684475
Total Rows Read: 29300000, Paired Rows: 3065810, Time: 2018-10-03 08:21:24.478258
Total Rows Read: 29400000, Paired Rows: 3076846, Time: 2018-10-03 08:21:37.491206
Total Rows Read: 29500000, Paired Rows: 3087599, Time: 2018-10-03 08:21:50.482633
Total Rows Read: 29600000, Paired Rows: 3098343, Time: 2018-10-03 08:22:03.522456
Total Rows Read: 29700000, Paired Rows: 3109023, Time: 2018-10-03 08:22:16.648724
Total Rows Read: 29800000, Paired Rows: 3119603, Time: 2018-10-03 08:22:29.259512
Total Rows Read: 29900000, Paired Rows: 3129951, Time: 2018-10-03 08:22:42.535662
Total Rows Read: 30000000, Paired Rows: 3140002, Time: 2018-10-03 08:22:55.173883
Cleanin up!

Total Rows Read: 30100000, Paired Rows: 3149651, Time: 2018-10-03 08:24:25.526103
Total Rows Read: 30200000, Paired Rows: 3159418, Time: 2018-10-03 08:24:38.350983
Total Rows Read: 30300000, Paired Rows: 3169497, Time: 2018-10-03 08:24:51.048722
Total Rows Read: 30400000, Paired Rows: 3179259, Time: 2018-10-03 08:25:03.716539
Total Rows Read: 30500000, Paired Rows: 3189093, Time: 2018-10-03 08:25:16.495522
Total Rows Read: 30600000, Paired Rows: 3198690, Time: 2018-10-03 08:25:29.203977
Total Rows Read: 30700000, Paired Rows: 3208551, Time: 2018-10-03 08:25:42.104449
Total Rows Read: 30800000, Paired Rows: 3218495, Time: 2018-10-03 08:25:55.042517
Total Rows Read: 30900000, Paired Rows: 3228398, Time: 2018-10-03 08:26:08.328484
Total Rows Read: 31000000, Paired Rows: 3238296, Time: 2018-10-03 08:26:21.453460
Cleanin up!
Total Rows Read: 31100000, Paired Rows: 3248590, Time: 2018-10-03 08:27:57.199050
Total Rows Read: 31200000, Paired Rows: 3258832, Time: 2018-10-03 08:28:10.834412
Total Rows Read: 31300000, Paired Rows: 3269415, Time: 2018-10-03 08:28:23.966935
Total Rows Read: 31400000, Paired Rows: 3279993, Time: 2018-10-03 08:28:36.954961
Total Rows Read: 31500000, Paired Rows: 3290736, Time: 2018-10-03 08:28:49.780648
Total Rows Read: 31600000, Paired Rows: 3301562, Time: 2018-10-03 08:29:02.619932
Total Rows Read: 31700000, Paired Rows: 3312553, Time: 2018-10-03 08:29:15.402794
Total Rows Read: 31800000, Paired Rows: 3323400, Time: 2018-10-03 08:29:28.207097
Total Rows Read: 31900000, Paired Rows: 3334277, Time: 2018-10-03 08:29:41.573292
Total Rows Read: 32000000, Paired Rows: 3344814, Time: 2018-10-03 08:29:54.548076
Cleanin up!
Total Rows Read: 32100000, Paired Rows: 3355332, Time: 2018-10-03 08:31:31.577884
Total Rows Read: 32200000, Paired Rows: 3365744, Time: 2018-10-03 08:31:45.052116
Total Rows Read: 32300000, Paired Rows: 3376183, Time: 2018-10-03 08:31:57.704722
Total Rows Read: 32400000, Paired Rows: 3386352, Time: 2018-10-03 08:32:10.167077
Total Rows Read: 32500000, Paired Rows: 3396430, Time: 2018-10-03 08:32:22.470054
Total Rows Read: 32600000, Paired Rows: 3406996, Time: 2018-10-03 08:32:34.980946
Total Rows Read: 32700000, Paired Rows: 3417884, Time: 2018-10-03 08:32:47.436037
Total Rows Read: 32800000, Paired Rows: 3428757, Time: 2018-10-03 09:08:32.165926
Total Rows Read: 32900000, Paired Rows: 3439478, Time: 2018-10-03 09:08:45.863713
Total Rows Read: 33000000, Paired Rows: 3450038, Time: 2018-10-03 09:08:59.353647
Cleanin up!
Total Rows Read: 33100000, Paired Rows: 3460447, Time: 2018-10-03 09:10:42.491957
Total Rows Read: 33200000, Paired Rows: 3470008, Time: 2018-10-03 09:10:56.095869
Total Rows Read: 33300000, Paired Rows: 3479492, Time: 2018-10-03 09:11:08.969033
Total Rows Read: 33400000, Paired Rows: 3490146, Time: 2018-10-03 09:11:21.660257
Total Rows Read: 33500000, Paired Rows: 3501021, Time: 2018-10-03 09:11:34.645215
Total Rows Read: 33600000, Paired Rows: 3511394, Time: 2018-10-03 09:11:48.144221
Total Rows Read: 33700000, Paired Rows: 3521469, Time: 2018-10-03 09:12:01.838962
Total Rows Read: 33800000, Paired Rows: 3531576, Time: 2018-10-03 09:12:15.758970
Total Rows Read: 33900000, Paired Rows: 3541288, Time: 2018-10-03 09:12:29.304702
Total Rows Read: 34000000, Paired Rows: 3551038, Time: 2018-10-03 09:12:42.565897
Cleanin up!
Total Rows Read: 34100000, Paired Rows: 3561169, Time: 2018-10-03 09:14:35.918384
Total Rows Read: 34200000, Paired Rows: 3571390, Time: 2018-10-03 09:14:49.427352
Total Rows Read: 34300000, Paired Rows: 3581897, Time: 2018-10-03 09:15:02.499019
Total Rows Read: 34400000, Paired Rows: 3592651, Time: 2018-10-03 09:15:16.259383
Total Rows Read: 34500000, Paired Rows: 3603643, Time: 2018-10-03 09:15:29.930541
Total Rows Read: 34600000, Paired Rows: 3614721, Time: 2018-10-03 09:15:44.204480
Total Rows Read: 34700000, Paired Rows: 3625733, Time: 2018-10-03 09:15:57.710928
Total Rows Read: 34800000, Paired Rows: 3636866, Time: 2018-10-03 09:16:11.313471
Total Rows Read: 34900000, Paired Rows: 3647908, Time: 2018-10-03 09:16:24.110961
Total Rows Read: 35000000, Paired Rows: 3658329, Time: 2018-10-03 09:16:36.437459
Cleanin up!
Total Rows Read: 35100000, Paired Rows: 3668517, Time: 2018-10-03 09:18:31.086641
Total Rows Read: 35200000, Paired Rows: 3679079, Time: 2018-10-03 09:18:44.967401
Total Rows Read: 35300000, Paired Rows: 3690058, Time: 2018-10-03 09:18:58.141616
Total Rows Read: 35400000, Paired Rows: 3701338, Time: 2018-10-03 09:19:11.059086
Total Rows Read: 35500000, Paired Rows: 3712721, Time: 2018-10-03 09:19:23.898348
Total Rows Read: 35600000, Paired Rows: 3723676, Time: 2018-10-03 09:19:37.491727
Total Rows Read: 35700000, Paired Rows: 3734786, Time: 2018-10-03 09:19:50.216440
Total Rows Read: 35800000, Paired Rows: 3745638, Time: 2018-10-03 09:20:03.001212
Total Rows Read: 35900000, Paired Rows: 3756776, Time: 2018-10-03 09:20:15.707467
Total Rows Read: 36000000, Paired Rows: 3767818, Time: 2018-10-03 09:20:28.361491
Cleanin up!
Total Rows Read: 36100000, Paired Rows: 3778854, Time: 2018-10-03 09:22:23.709794
Total Rows Read: 36200000, Paired Rows: 3789472, Time: 2018-10-03 09:22:37.420778
Total Rows Read: 36300000, Paired Rows: 3799923, Time: 2018-10-03 09:22:50.742098
Total Rows Read: 36400000, Paired Rows: 3809413, Time: 2018-10-03 09:23:03.072592
Total Rows Read: 36500000, Paired Rows: 3818524, Time: 2018-10-03 09:23:15.141377
Total Rows Read: 36600000, Paired Rows: 3828180, Time: 2018-10-03 09:23:27.194118
Total Rows Read: 36700000, Paired Rows: 3838653, Time: 2018-10-03 09:23:39.498848
Total Rows Read: 36800000, Paired Rows: 3848976, Time: 2018-10-03 09:23:51.882909
Total Rows Read: 36900000, Paired Rows: 3859306, Time: 2018-10-03 09:24:04.236072
Total Rows Read: 37000000, Paired Rows: 3869530, Time: 2018-10-03 09:24:16.845271
Cleanin up!
Total Rows Read: 37100000, Paired Rows: 3879499, Time: 2018-10-03 09:26:12.400496
Total Rows Read: 37200000, Paired Rows: 3889257, Time: 2018-10-03 09:26:26.085098
Total Rows Read: 37300000, Paired Rows: 3899155, Time: 2018-10-03 09:26:39.196163
Total Rows Read: 37400000, Paired Rows: 3908927, Time: 2018-10-03 09:26:52.344055
Total Rows Read: 37500000, Paired Rows: 3919139, Time: 2018-10-03 09:27:05.394741
Total Rows Read: 37600000, Paired Rows: 3929420, Time: 2018-10-03 09:27:18.734736
Total Rows Read: 37700000, Paired Rows: 3939934, Time: 2018-10-03 09:27:32.893020
Total Rows Read: 37800000, Paired Rows: 3950636, Time: 2018-10-03 09:27:46.189894
Total Rows Read: 37900000, Paired Rows: 3961414, Time: 2018-10-03 09:27:59.009903
Total Rows Read: 38000000, Paired Rows: 3972434, Time: 2018-10-03 09:28:11.873996
Cleanin up!
Total Rows Read: 38100000, Paired Rows: 3983352, Time: 2018-10-03 09:30:11.497807
Total Rows Read: 38200000, Paired Rows: 3994205, Time: 2018-10-03 09:30:24.312538
Total Rows Read: 38300000, Paired Rows: 4004966, Time: 2018-10-03 09:30:36.757097
Total Rows Read: 38400000, Paired Rows: 4015560, Time: 2018-10-03 09:30:49.319752
Total Rows Read: 38500000, Paired Rows: 4026375, Time: 2018-10-03 09:31:02.995203
Total Rows Read: 38600000, Paired Rows: 4037848, Time: 2018-10-03 09:31:15.800770
Total Rows Read: 38700000, Paired Rows: 4049142, Time: 2018-10-03 09:31:28.288520
Total Rows Read: 38800000, Paired Rows: 4060516, Time: 2018-10-03 09:31:40.507545
Total Rows Read: 38900000, Paired Rows: 4071776, Time: 2018-10-03 09:31:52.712940
Total Rows Read: 39000000, Paired Rows: 4082947, Time: 2018-10-03 09:32:04.963804
Cleanin up!
Total Rows Read: 39100000, Paired Rows: 4094304, Time: 2018-10-03 09:34:06.937613
Total Rows Read: 39200000, Paired Rows: 4105676, Time: 2018-10-03 09:34:20.199421
Total Rows Read: 39300000, Paired Rows: 4116799, Time: 2018-10-03 09:34:33.698102
Total Rows Read: 39400000, Paired Rows: 4127988, Time: 2018-10-03 09:34:46.889818
Total Rows Read: 39500000, Paired Rows: 4139046, Time: 2018-10-03 09:35:00.268092
Total Rows Read: 39600000, Paired Rows: 4149881, Time: 2018-10-03 09:35:13.288937
Total Rows Read: 39700000, Paired Rows: 4160543, Time: 2018-10-03 09:35:26.295045
Total Rows Read: 39800000, Paired Rows: 4171255, Time: 2018-10-03 09:35:39.505956
Total Rows Read: 39900000, Paired Rows: 4181776, Time: 2018-10-03 09:35:52.574970

Total Rows Read: 40000000, Paired Rows: 4192083, Time: 2018-10-03 09:36:05.478140
Cleanin up!
Total Rows Read: 40100000, Paired Rows: 4202679, Time: 2018-10-03 09:38:11.424730
Total Rows Read: 40200000, Paired Rows: 4213450, Time: 2018-10-03 09:38:24.037523
Total Rows Read: 40300000, Paired Rows: 4223904, Time: 2018-10-03 09:38:36.713537
Total Rows Read: 40400000, Paired Rows: 4234009, Time: 2018-10-03 09:38:49.494459
Total Rows Read: 40500000, Paired Rows: 4244162, Time: 2018-10-03 09:39:02.288008
Total Rows Read: 40600000, Paired Rows: 4254494, Time: 2018-10-03 09:39:14.905153
Total Rows Read: 40700000, Paired Rows: 4264538, Time: 2018-10-03 09:39:27.256415
Total Rows Read: 40800000, Paired Rows: 4274654, Time: 2018-10-03 09:39:39.923035
Total Rows Read: 40900000, Paired Rows: 4284544, Time: 2018-10-03 09:39:52.601010
Total Rows Read: 41000000, Paired Rows: 4294663, Time: 2018-10-03 09:40:05.344612
Cleanin up!
Total Rows Read: 41100000, Paired Rows: 4305026, Time: 2018-10-03 09:42:19.176269
Total Rows Read: 41200000, Paired Rows: 4315560, Time: 2018-10-03 09:42:32.265055
Total Rows Read: 41300000, Paired Rows: 4326299, Time: 2018-10-03 09:42:45.368259
Total Rows Read: 41400000, Paired Rows: 4337285, Time: 2018-10-03 09:42:58.222269
Total Rows Read: 41500000, Paired Rows: 4348459, Time: 2018-10-03 09:43:11.100630
Total Rows Read: 41600000, Paired Rows: 4359807, Time: 2018-10-03 09:43:23.762931
Total Rows Read: 41700000, Paired Rows: 4370908, Time: 2018-10-03 09:43:36.326076
Total Rows Read: 41800000, Paired Rows: 4382144, Time: 2018-10-03 09:43:48.999014
Total Rows Read: 41900000, Paired Rows: 4393519, Time: 2018-10-03 09:44:01.871804
Total Rows Read: 42000000, Paired Rows: 4404873, Time: 2018-10-03 09:44:15.236994
Cleanin up!
Total Rows Read: 42100000, Paired Rows: 4416326, Time: 2018-10-03 09:46:31.628671
Total Rows Read: 42200000, Paired Rows: 4427828, Time: 2018-10-03 09:46:44.740350
Total Rows Read: 42300000, Paired Rows: 4439272, Time: 2018-10-03 09:46:57.936548
Total Rows Read: 42400000, Paired Rows: 4450783, Time: 2018-10-03 09:47:11.721138
Total Rows Read: 42500000, Paired Rows: 4462224, Time: 2018-10-03 09:47:25.155410
Total Rows Read: 42600000, Paired Rows: 4473627, Time: 2018-10-03 09:47:38.516976
Total Rows Read: 42700000, Paired Rows: 4485072, Time: 2018-10-03 09:47:51.785185
Total Rows Read: 42800000, Paired Rows: 4496425, Time: 2018-10-03 09:48:05.142512
Total Rows Read: 42900000, Paired Rows: 4507394, Time: 2018-10-03 09:48:18.711336
Total Rows Read: 43000000, Paired Rows: 4518307, Time: 2018-10-03 09:48:32.093090
Cleanin up!
Total Rows Read: 43100000, Paired Rows: 4528989, Time: 2018-10-03 09:50:45.708505
Total Rows Read: 43200000, Paired Rows: 4539833, Time: 2018-10-03 09:50:59.139773
Total Rows Read: 43300000, Paired Rows: 4550613, Time: 2018-10-03 09:51:12.426342
Total Rows Read: 43400000, Paired Rows: 4561137, Time: 2018-10-03 09:51:25.656438
Total Rows Read: 43500000, Paired Rows: 4571815, Time: 2018-10-03 09:51:38.823334
Total Rows Read: 43600000, Paired Rows: 4582231, Time: 2018-10-03 09:51:51.976440
Total Rows Read: 43700000, Paired Rows: 4592856, Time: 2018-10-03 09:52:05.145794
Total Rows Read: 43800000, Paired Rows: 4603326, Time: 2018-10-03 09:52:18.316249
Total Rows Read: 43900000, Paired Rows: 4613788, Time: 2018-10-03 09:52:31.490364
Total Rows Read: 44000000, Paired Rows: 4624096, Time: 2018-10-03 09:52:44.749210
Cleanin up!
Total Rows Read: 44100000, Paired Rows: 4634215, Time: 2018-10-03 09:55:06.418428
Total Rows Read: 44200000, Paired Rows: 4644157, Time: 2018-10-03 09:55:19.844064
Total Rows Read: 44300000, Paired Rows: 4653798, Time: 2018-10-03 09:55:33.282346
Total Rows Read: 44400000, Paired Rows: 4663556, Time: 2018-10-03 09:55:46.497693
Total Rows Read: 44500000, Paired Rows: 4673571, Time: 2018-10-03 09:55:59.797349
Total Rows Read: 44600000, Paired Rows: 4683800, Time: 2018-10-03 09:56:13.002798
Total Rows Read: 44700000, Paired Rows: 4694155, Time: 2018-10-03 09:56:26.250420
Total Rows Read: 44800000, Paired Rows: 4704692, Time: 2018-10-03 09:56:39.465879
Total Rows Read: 44900000, Paired Rows: 4715444, Time: 2018-10-03 09:56:52.682880
Total Rows Read: 45000000, Paired Rows: 4726523, Time: 2018-10-03 09:57:06.022618
Cleanin up!

KeyboardInterrupt: